<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
    crossorigin="" />
    <nav class="navbar sticky-top navbar-dark darknav">
            <a class="navbar-brand" href="/">
              <img src="https://image.ibb.co/kCPDiG/rsz_1cat_tracks_title.png" alt="rsz_1cat_tracks_title" alt="cat_tracks_title" border="0">
            </a>
          </nav>
    <style>
        .darknav {
          background-color: black;
        }
    
        .top-row {
          height: 800px;
        }
    
        .all-cats {
          overflow-y: scroll;
        }
      </style>
      
    </head>
    <body style="background-image:url('https://image.ibb.co/duYOiG/rsz_11rsz_1rsz_kitty_tracks.png')">
    <div class="container">
            
     <div style="margin-top: 30px;">    
     </div>
        <div class="jumbotron">
                     
            <h1>About Us</h1>
        </br>
            <p>Made by Joy, Zhi, Mahia, and Adam at UB Hackathon 2k17</p>
            <p>Special thanks to mentor Zhi</p>
            <p>Cats are awesome... That is all.

            </p>
            <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
    </div>
    </div>
    </div>
    </body>