<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
    crossorigin="" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/leaflet-beautify-marker-icon.css" />
  <script src="/static/leaflet-beautify-marker-icon.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>

  <style>
    .darknav {
      background-color: black;
    }

    .top-row {
      height: 800px;
    }

    .all-cats {
      overflow-y: scroll;
    }
  </style>

</head>

<nav class="navbar sticky-top navbar-dark darknav">
  <a class="navbar-brand" href="/">
    <img src="https://image.ibb.co/kCPDiG/rsz_1cat_tracks_title.png" alt="rsz_1cat_tracks_title" alt="cat_tracks_title" border="0">
  </a>
  <div class="form-inline" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Add a Cat
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
      </li>
    </ul>
  </div>
</nav>

<body style="background-image:url('https://image.ibb.co/duYOiG/rsz_11rsz_1rsz_kitty_tracks.png')">

  <!-- <img src="{{url_for( 'static', filename='uploads/angry.jpg' )}} "> -->
  <div class="container">
    <div class="row">
      <div class="col-9 top-row" id='map'></div>
      <div class="col-3 top-row all-cats" id='cats'></div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-lg-12" style="background-color: white;" id="description">click on a cat for more info...</div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add-cat" onsubmit="addCat();return false;">
            <div class="form-group ">
              <label for="name"> Name </label>
              <br>
              <input type="text" name="name" placeholder="Name ">
            </div>
            <!-- Color textbox and label -->
            <div class="form-group ">
              <label for="color"> Color </label>
              <br>
              <input type="text" name="color" placeholder="Brown, Black, Etc ">
            </div>
            <!-- Description Label -->
            <div class="form-group">
              <label for="desc"> Description
                <label>
                  <br>
            </div>
            <!-- Creation of the textarea -->
            <div class="form-group">
              <textarea class="form-control" name="description" id="description" rows="3 "> </textarea>
            </div>
            <!-- Buttons for Unknown, spayed/neutured, natural -->
            
            <div data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="Spayed/Neutured" value="Unknown" autocomplete="off" checked> Unknown
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="Spayed/Neutured" value="Spayed/Neutured" autocomplete="off"> Spayed/Neutured
              </label>
              <label class="btn btn-secondary ">
                <input type="radio" name="Spayed/Neutured" value="Natural" autocomplete="off"> Natural
              </label>
            </div>
            <!-- Buttons for Feral, Domestic, Unknown -->
            <br>

            <div data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="Feral/Domestic" value="Unknown" checked autocomplete="off"> Unknown
              </label>
              <label class="btn btn-secondary ">
                <input type="radio" name="Feral/Domestic" value="Domestic" autocomplete="off"> Domestic
              </label>
              <label class="btn btn-secondary ">
                <input type="radio" name="Feral/Domestic" value="Feral" autocomplete="off"> Feral
              </label>
            </div><br/>
            <div class="form-group ">
                <input type="submit" value="Add a cat" class="btn btn-primary ">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <script>

    //init map
    var map = L.map('map').setView([43.003051, -78.787842], 16);

    L.tileLayer(
      'https://api.mapbox.com/styles/v1/mapbox/outdoors-v9/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org ">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 181,
        id: 'outdoors-v9',
        accessToken: 'pk.eyJ1IjoibnljZG90IiwiYSI6IlhHQjNQRWMifQ.cz7P1kLgUTLOlt9Lc1RQvQ'
      }).addTo(map);


    const cats_div = document.getElementById('cats')
    const description_div = document.getElementById('description')
    let global_data;

    //get data from 'database'
    fetch('{{ url_for("getCats") }}')
      .then(res => res.json())
      .then(data => {
        global_data = data;
        const amt_cats = Object.keys(data).length;
        const color_scale = chroma.scale(['yellow', 'red', 'black']).colors(amt_cats);

        //for each cat generate a clickable card
        const cats = Object.keys(data).reduce((prev, cur, index) => {

          //sort points by timestamp
          const points = data[cur].points.sort((a, b) => {
            return a.timestamp > b.timestamp
          })
          
          //make a viewable text_color
          let text_color;
          if(chroma(color_scale[index]).luminance() < .5){
            text_color = chroma(color_scale[index]).brighten(4)
          }else{
            text_color = chroma(color_scale[index]).darken(4)
          }

          //add points to map, with popups
          const options = {
            icon: 'paw',
            iconShape: 'marker',
            borderColor: color_scale[index],
            textColor:  color_scale[index],
            backgroundColor: text_color
          };

          points.map(point => {
            const datetime = new Date(point.timestamp * 1000);
            const desc = `doing: ${point.desc}` || '';
            let location_image = ''
            if(point.image.length > 1){
              location_image = `<img width="200px" src="/static/uploads/${point.image}">`
            }
            const popup = `${location_image}<h4>${desc}</h4><p>last seen: ${datetime.toLocaleString()}</p>`
            L.marker(point.latlng, {
              icon: L.BeautifyIcon.icon(options)
            }).addTo(map).bindPopup(popup);
          })

          //add polyline
          const pointList = points.reduce((prev, point) => {
            prev.push(new L.LatLng(point.latlng[0], point.latlng[1]));
            return prev;
          }, [])
          new L.Polyline(pointList, {
            color: color_scale[index],
            weight: 5,
            opacity: 0.8
          }).addTo(map)

          //if there is an image, get the first image
          let image = "";
          if(data[cur].points.length > 0){
            image = `/static/uploads/${data[cur].points[0].image}`
          }

          return prev +=
            `<div onclick="showCat(${cur})" class="card" style="margin-bottom: 10px; ">
                        <img class="card-img-top" src=${image}>
                        <div class="card-block ">
                        <h4 class="card-title " style="color:${text_color}; background-color: ${color_scale[index]} ">${data[cur].name}</h4>
                        <p class="card-text ">${data[cur].color}</p>
                        </div>
                        </div>`
        }, '')
        cats_div.innerHTML = cats
        return Object.keys(data)

      })
      .catch(error => console.log(error))

      //when a cat is clicked, pan to latest point and change the description 
      function showCat(id){
        if(global_data[id].points.length > 0){
          const latest_point = global_data[id].points[global_data[id].points.length - 1].latlng
          map.setView(latest_point, 16);
        }

        //get geolocation
        if ("geolocation" in navigator) {
          navigator.geolocation.getCurrentPosition(function(position) {
            const latitude_input = document.getElementById('latitude')
            const longitude_input = document.getElementById('longitude')
            longitude_input.value = position.coords.longitude
            latitude_input.value = position.coords.latitude
          });
        }

        description_div.innerHTML = `
        <h1>${global_data[id].name}</h1>
        <p>Color: ${global_data[id].color}</p>
        <p>Description: ${global_data[id].description}</p>
        <p>Feral/Domestic: ${global_data[id].feral_domestic}</p>
        <p>Name: ${global_data[id].Name}</p>
        <p>Spayed/Neutured: ${global_data[id].spayed_neutured}</p>
        <hr/>

        <form method="POST" action="/cat/${id}/add" enctype="multipart/form-data">

          <input type="hidden" name="id" value="${id}">
          <div class="form-group">
            <input type="file" name="image" value="Upload Additional Image">
          </div>
          <!-- Location longitude and lattitude -->
          <div class="form-group">
            <label for="location">Location</label>
            </br>
            <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Lattitude"> </br>
            <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude"> </br>

          </div>

          <div class="form-group">
            <label for="Additional Description">Additional Description</label>
            <div class="form-group">
              <textarea class="form-control" name="description" id="description" rows="3 "> </textarea>
            </div>
            <div class="form-group ">
              <input type="submit" value="Add image" class="btn btn-primary ">
            </div>
          </div>
          </div>
        </form>
        </div>` 
      }

      //add Cat using POST request from the form
      function addCat(){
      const form = document.getElementById('add-cat').elements
      
      const name = form.namedItem("name").value
      const color = form.namedItem("color").value
      const description = form.namedItem("description").value
      const spayed_neutured = form.namedItem("Spayed/Neutured").value
      const feral_domestic = form.namedItem("Feral/Domestic").value

      fetch('{{ url_for("addCat") }}', {
                method: 'POST',
                headers : new Headers(),
                body:JSON.stringify({name, color, description, spayed_neutured, feral_domestic})
            }).then((res) => res.json())
            .then((data) =>  location.reload())
            .catch((error)=> console.log(error))
    }
  </script>

</body>

</html>